---
title: "back-to-top"
layout: module.hbs
module: true
---

<div id="js-back-to-top" class="back-to-top" data-module="back-to-top">
	<i class="fa fa-angle-double-up"></i>
	<span>Back To Top</span>
</div>
