---
title: "bugs-list"
layout: module.hbs
module: true
---

<div id="js-bugs-list" class="bugs-list" data-module="bugs-list">
	<p id="js-bugs-list-empty" class="bugs-list-empty">No results to display.</p>
	<ul></ul>
</div>
