---
title: "search-form"
layout: module.hbs
module: true
---

<div id="js-search-form" class="search-form active" data-module="search-form">

	<div class="row">
		<div class="small-12">

			<div class="input-container has-icon">
				<input type="text" id="js-search-input" class="search-input" placeholder="Search by tags">
				<i id="js-search-add-tag" class="search-add-tag add fa fa-plus-circle"></i>
			</div>
			
		</div>
	</div>

	<div class="row">
		<div class="small-12">
			<div id="js-search-tags-list" class="search-tags-list"></div>
		</div>
	</div>

	<div class="row">
		<div class="small-12">

			<button id="js-search-button" class="search-button">Search</button>

		</div>
	</div>

</div>
