
// Color palette is a mixin from IBM that
// lets you organize colors inside a SASS
// mapping. I find that it is an easier way
// to manage colors rather than a long
// list of variable names. I highly recommend
// using it. It's not difficult to use.
//
// There are examples of how to use it peppered
// into some of the default common styles.
//
// Use this file to store common values like
// font size, z index, etc.

@import 'color-palette/_color';
@import "../bower_components/foundation/scss/foundation/_functions";

$fontsize: 16;
$spacing: rem-calc($fontsize);

// Colors
$white: #FFF;
$black: #000;
$pacific-blue: #00A2C5;
$ziggurat: #BFDBE2;
$blue-lagoon: #017987;
$atoll: #0A6F75;

$default-font-color: $ziggurat;
$body-background-color: $atoll;
