<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        
        <title>Static Assets</title>
        <meta name="description" content="" />

        {{> _meta}}

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {{> _css-main}}

        <style type="text/css">
            html, body { text-align: center; }
            .container { max-width: 768px; text-align: left; margin: 0 auto; padding: 20px; }
            .container h1,
            .container h2 { line-height: 1.000em; color: #333; }
            .container h1 { text-align: center; font-size: 2em; }
            .container h2 { font-size: 1.5em; border-bottom: 1px solid #333; padding-bottom: 5px; margin-top: 1em; }
            .zebra-striping { list-style: none; margin: 0; padding: 0 0; }
            .zebra-striping li:nth-child(odd) { background-color: #eee; }
            .zebra-striping li:hover { background-color: #ccc; }
            .zebra-striping li a:link,
            .zebra-striping li a:visited { display: block; color: #333; text-decoration: none; padding: 5px 15px; }
            .zebra-striping li a:hover { font-weight: bold; }
        </style>

        {{> _js-modernizr}}

        {{> _js-firebase}}

        {{> _js-jquery}}

    </head>
    <body>

        <div class="container">

            {{> body}}

        </div>

    </body>

    {{> _js-main}}

</html>
