.container {
	padding: $spacing;
	max-width: em-calc($grid-max-width);
	margin: 0 auto;

	.home & {
		border-radius: em-calc(4);
		background-color: $almost-white;
		margin: $spacing;

		&:first-of-type {
			@include bp(large-up) {
				margin: $spacing*3 auto $spacing;
			}
		}

		&:last-of-type {
			@include bp(large-up) {
				margin: $spacing auto $spacing*3;
			}
		}

		@include bp(large-up) {
			margin: $spacing auto;
		}

	}

	@include bp(large-up) {
		padding: $spacing*2;
	}

}

.home {

	h1 {

		&:hover .fa {
			transform: rotate(360deg);
			color: $cascade;
		}

		.fa {
			@include transition(all, 0.75s);
		}

	}

}

.tooltip {
	display: none;
	z-index: 999;
	font-size: em-calc(12);
	border-radius: $common-border-radius;
	border: 1px solid $cascade;
	background-color: $alert-background-color;
	padding: em-calc(10);
	position: absolute;
	right: em-calc(45);
	top: em-calc(12);
	max-width: em-calc(200);
}

.toggle, .add {
	cursor: pointer;
	color: $bison-hide;
	font-size: em-calc(27);
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	width: em-calc(45);
	display: block;
	@include transition(all, 0.25s);

	&:hover {
		color: $cape-cod;

		.touch & {
			color: $bison-hide;
		}

	}

	@include bp(medium-up) {
		font-size: em-calc(35);
		width: em-calc(50);
	}

}

.toggle {
	line-height: em-calc(42);
	height: em-calc(42);

	@include bp(medium-up) {
		line-height: em-calc(52);
		height: em-calc(52);
	}

}

.add {
	line-height: em-calc(45);
	height: em-calc(45);
}

.input-container {
	position: relative;
	display: inline-block;
	width: 100%;
	max-width: 100%;

	&.has-icon {

		input[type="text"],
		input[type="password"],
		input[type="date"],
		input[type="datetime"],
		input[type="datetime-local"],
		input[type="month"],
		input[type="week"],
		input[type="email"],
		input[type="number"],
		input[type="search"],
		input[type="tel"],
		input[type="time"],
		input[type="url"],
		input[type="color"],
		textarea {
			padding: em-calc(10) em-calc(44) em-calc(10) em-calc(10);

			@include bp(medium-up) {
				padding: em-calc(10) em-calc(49) em-calc(10) em-calc(10);
			}

		}
		
	}

	&.half-width {

		&:nth-child(even) {
			@include bp(medium-up) {
				margin-left: $spacing/2;
			}
		}

		&:nth-child(odd) {
			@include bp(medium-up) {
				margin-right: $spacing/2;
			}
		}

		@include bp(medium-up) {
			float: left;
			width: calc(50% - (#{$spacing}/2));
		}

	}

}

.tag {
	cursor: pointer;
	border-radius: $common-border-radius;
	border: 1px solid $cascade;
	background-color: $alert-background-color;
	font-size: em-calc(14);
	display: inline-block;
	padding: em-calc(5);
	margin: 0 em-calc(5) em-calc(5) 0;
}
