<div class="menu clearfix" data-partial="menu">

	<a id="js-search-toggle" href="javascript:void(0);" class="button button-toggle active" title="Search for Bugs">Search</a>

	<a id="js-submit-toggle" href="javascript:void(0);" class="button button-toggle" title="Submit a Bug">Submit</a>

</div>
