<div class="row">
	<div class="small-12">
		<div class="validation-alerts" data-partial="validation-alerts">
	
			<p id="js-missing-field" class="missing-field">You must enter either a link, a description/explanation, or both.</p>
			<p id="js-blank-title" class="blank-title">Please enter a title.</p>
			<p id="js-invalid-url" class="invalid-url">Please enter a valid URL.</p>
				
		</div>
	</div>
</div>
