$palettes: (
	'root': (
		core: #ffffff,
		root: #222222,
		selection: #b3d4fc
	),
	'theme': (
		core: #333333
	),
	'font': (
		core: #cccccc
	),
	'border': (
		core: #cccccc
	),
	'black': (
		core: #000000
	),
	'white': (
		core: #ffffff
	)
);
