.back-to-top {
	opacity: 0;
	cursor: pointer;
	z-index: 999;
	text-align: center;
	background-color: $bison-hide;
	border-radius: $common-border-radius 0 0 $common-border-radius;
	box-shadow: 1px 1px 1px rgba(70, 70, 70, 0.5);
	position: fixed;
	bottom: $spacing*1.5;
	right: em-calc(-10);
	width: em-calc(50);
	height: em-calc(40);
	@include transition(all, 0.325s);

	&.show {
		opacity: 1;
	}

	&:hover {
		right: 0px;
	}

	.touch & {

		&:hover {
			right: em-calc(-10);
		}

	}

	.fa {
		font-size: em-calc(24);
		line-height: em-calc(40);
		position: absolute;
		left: 0;
		top: -1px;
		width: em-calc(40);
	}

	> span {
		display: none;
	}

	@include bp(medium-up) {
		bottom: $spacing*3;
	}

}