.bugs-list {

	&.search-active {

		li {
			display: none;

			&.show {
				display: block;
			}

		}

	}
	
	.bugs-list-empty, ul {
		margin: 0;
	}

	.bugs-list-empty {
		opacity: 0;
		@include transition(opacity, 0.5s);

		&.show {
			opacity: 1;
		}

	}

	ul {
		list-style: none;
	}

	li {
		background-color: $white;
		border-radius: $common-border-radius;
		border: $common-border;
		font-size: em-calc(14);
		margin: 0 0 $spacing*0.5;
		position: relative;
		@include transition(background-color, 0.25s);

		&:last-child {
			margin: 0;
		}

		&:hover {
			background-color: $jagged-ice;

			a.title {
				color: $link-hover-color;

				.touch & {
					color: $link-color;
				}

			}

			.title .fa {
				color: $link-hover-color;
				top: -4px;
				left: 4px;

				.touch & {
					color: $link-color;
					top: -1px;
					left: 2px;
				}

			}

			.touch & {
				background-color: $white;
			}

		}

		&.accordion {

			&.open {
				
				.desc {
					overflow: scroll;
					opacity: 1;
					max-height: em-calc(300);
					padding: 0 $spacing*0.75 $spacing*0.75 $spacing*0.75;

					@include bp(medium-up) {
						padding: 0 $spacing $spacing;
					}

				}

			}

			.title {
				padding: $spacing*0.75 em-calc(45) $spacing*0.75 $spacing*0.75;

				@include bp(medium-up) {
					padding: $spacing em-calc(50) $spacing $spacing;
				}

			}

		}

		a.title {
			@include transition(color, 0.25s);
		}

		.title {
			// white-space: nowrap;
			// overflow: hidden;
			// text-overflow: ellipsis;
			vertical-align: top;
			display: inline-block;
			padding: $spacing*0.75;
			// max-width: 100%;

			.fa {
				color: $link-color;
				font-size: 90%;
				vertical-align: middle;
				position: relative;
				top: -1px;
				left: 2px;
				@include transition(all, 0.25s);
			}

			&:hover {
				text-decoration: none;
			}

			@include bp(medium-up) {
				padding: $spacing;
			}

		}

		.desc {
			overflow: hidden;
			opacity: 0;
			font-weight: 300;
			max-height: 0;
			padding: 0 $spacing*0.75;
			@include transition(all, 0.5s);

			@include bp(medium-up) {
				padding: 0 $spacing;
			}

		}

		@include bp(medium-up) {
			font-size: em-calc(16);
			// margin: $spacing*0.75 0;
		}

	}

}