button, .button {
	color: $button-font-color;
	background-color: $button-background-color;
	line-height: 1.125;
	font-size: em-calc(16);
	font-weight: 500;
	text-shadow: 1px 1px 0px rgba(70, 70, 70, 0.3);
	border-radius: $common-border-radius;
	padding: $spacing em-calc(18);
	max-width: 100%;
	margin: 0 0 $spacing em-calc(12);
	@include transition(all, 0.25s, ease);

	&:first-of-type {
		margin: 0 0 $spacing;
	}

	&:hover, &:focus {
		color: $button-font-color;
		background-color: $button-hover-background-color;

		.touch & {
			color: $button-font-color;
			background-color: $button-background-color;
		}

	}

}