.search-form {
	display: none;

	&.active {
		display: block;
	}

	.search-tags-list {

		&.has-tags {
			margin: 0 0 $spacing*0.75;
		
			@include bp(medium-up) {
				margin: 0 0 $spacing;
			}
			
		}

	}
	
}
