.submit-bug-form {
	// background-color: $white;
	// border-radius: $common-border-radius;
	// border: 1px solid $bison-hide;
	// padding: $spacing;
	display: none;

	&.active {
		display: block;
	}

	.input-container {
		position: relative;
		display: inline-block;
		width: 100%;
		max-width: 100%;

		&.half-width {

			&:nth-child(even) {
				@include bp(medium-up) {
					margin-left: $spacing/2;
				}
			}

			&:nth-child(odd) {
				@include bp(medium-up) {
					margin-right: $spacing/2;
				}
			}

			@include bp(medium-up) {
				float: left;
				width: calc(50% - (#{$spacing}/2));
			}

		}

	}

}