---
title: Bugbook
template: true
body-class: "home"
layout: bugbook.hbs
---

<div class="container">
	
	{{> _header }}

	{{> _search-form }}

	{{> _submit-bug-form }}

</div>

<div class="container">
	
	{{> _bugs-list }}

</div>

{{> _back-to-top }}