---
title: Home Page
template: true
body-class: "home"
layout: home-page.hbs
---

<div class="container">
	
	{{> _header }}

	{{> _search-form }}

	{{> _submit-bug-form }}

</div>

<div class="container">
	
	{{> _bugs-list }}

</div>