// Font smoothing only has a webkit or moz prefix so we'll let this slide
// scss-lint:disable VendorPrefix

body {

	font-size: #{$fontsize}px;
	font-family: $rubik;
	line-height: $body-line-height;
	background-color: $body-background-color;
	background-image: url(i/tiny-grid.png);
	color: $default-font-color;
	position: relative;

	* {
		// Better defaults for `background` so we can just do background: url(image) and not have to set anything else.
		background-color: transparent;
		background-position: top center;
		background-repeat: no-repeat;

		// Improve font rendering
		-webkit-font-smoothing: antialiased;

		// Allow non-breaking characters to wrap
		word-break: break-word;
		word-wrap: break-word;

		font-family: $rubik;
		line-height: $body-line-height;

		&,
		&:before,
		&:after {
			-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
		}
	}

}
