html,
button,
input,
select,
textarea {
	color: palette('root', 'root');
}

// Remove the gap between images, videos, audio and canvas and the bottom of
// their containers: h5bp.com/i/440
audio,
canvas,
img,
video {
	vertical-align: middle;
}

p {
	margin: 0 0 $spacing;
}

textarea {
	min-height: $input-height;
}

a {
	color: $link-color;
	@include transition(color, 0.25s);

	&:hover, &:focus {
		color: $link-hover-color;
		text-decoration: none;
	}

}