// Set word-break back to normal so that text inputs don't wrap
input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'] {
	word-break: normal;
}

// Allow only vertical resizing of textareas.
textarea {
	resize: vertical;
}

// Remove default fieldset styles.
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

// Opinion: Background color to white, and shrink if necessary
input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea,
select {
	background-color: palette('white');
	max-width: 100%;
}

// Opinion: Add some padding around checkboxes and radio buttons
input[type='radio'],
input[type='checkbox'] { margin: 0 0.4em; }

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
	color: $default-font-color;
	font-size: em-calc(14);
	border-radius: $common-border-radius;
	border-color: $border-color;
	padding: em-calc(10);
	margin: 0 0 $spacing*0.75 0;

	&:focus {
		background-color: $white;
		box-shadow: 0 0 5px $bison-hide;
	}

	&.has-tooltip {
		padding: em-calc(10) em-calc(45) em-calc(10) em-calc(10);

		+ .fa {
			display: none; // Remove when tooltips added
			cursor: pointer;
			color: $bison-hide;
			font-size: em-calc(20);
			text-align: center;
			line-height: em-calc(45);
			position: absolute;
			right: 0;
			top: 0;
			height: em-calc(45);
			width: em-calc(45);
			@include transition;

			&:hover {
				color: darken($bison-hide, 7.5%);

				+ .tooltip {
					display: block;
				}

			}

			> span {
				display: none;
			}

		}

	}

	@include bp(medium-up) {
		font-size: em-calc(16);
		margin: 0 0 $spacing 0;
	}

}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"] {
	height: $input-height;
}