h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	color: $default-font-color;
	font-weight: 500;
	margin: 0 0 $spacing;
}

h1, .h1 {
	font-size: em-calc(32);
}

h2, .h2 {
	font-size: em-calc(28);
}

h3, .h3 {
	font-size: em-calc(24);
}

h4, .h4 {
	font-size: em-calc(21);
}

h5, .h5 {
	font-size: em-calc(18);
}

h6, .h6 {
	font-size: em-calc(16);
}